<div class="row">
  <input type="radio" name="toggle" (click)="showDiv('Y')" /> Show
  <input type="radio" name="toggle" (click)="showDiv('N')" />Hide
</div>

<div class="mainContainer" *ngIf="toggle">
  <div class="row">
    <div>
      <input type="number" [(ngModel)]="firstNumber" placeholder="ANY NUMBER" />
      <span>+</span>
      <input type="number" [(ngModel)]="secondNumber" placeholder="ANY NUMBER" />
      <span>SUM {{firstNumber -- secondNumber}}</span>
    </div>
  </div>

  <div class="row">
    <div>
      <input type="number" [(ngModel)]="thirdNumber" placeholder="ANY NUMBER" />
      <span> + </span>
      <input type="number" [(ngModel)]="fourthNumber" placeholder="ANY NUMBER" />
      <span> SUM</span>
      <span [innerHTML]="thirdNumber -- fourthNumber"></span>
    </div>
  </div>
  <div class="row">
    <div>
      <input [(ngModel)]="firstName" placeholder="FIRSTNAME" />
      <span>
        +
      </span>
      <input [(ngModel)]="lastName" placeholder="LASTNAME" />
      <span>HELLO</span>
      <span>{{firstName}} {{lastName}} </span>
    </div>
  </div>
  <div class="row">
    <div>
      <input [(ngModel)]="fName" placeholder="FIRSTNAME" />
      <span> + </span>
      <input [(ngModel)]="lName" placeholder="LASTNAME" />
      <span>HELLO</span>
      <span [textContent]="fName + lName"></span>
    </div>
  </div>

  <table>
    <tbody>
      <th>ITEM NO</th>
      <th>COUNTRY NAME</th>
      <th>CAPITAL</th>
      <tr *ngFor="let country of countryList.slice(1); let i = index; ">
        <td class="index">{{i+1}}</td>
        <td>{{country.name}}</td>
        <td>{{country.capital}}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div>
      <span>Search Country By Index </span>
      <input [(ngModel)]="index" placeholder="ANY NUMBER" (keyup)="searchCountryByIndex($event)">
      <span class="{{error}}">{{message}}</span>
    </div>
  </div>
  <div class="row">
    <span>Select Country </span>
    <select class="dropdown" [(ngModel)]="selectedCity" (ngModelChange)="onChange($event)">
      <option *ngFor="let country of dropDownCountryList" [ngValue]="country"> {{country.name}} </option>
    </select>
    <span>{{dropDownCapital}}</span>

  </div>
  <div class="row">
     <span>Type Color </span>
    <input [(ngModel)]="color" [style.background-color]="color">
  </div>
</div>